.all{
	width:1263px;
	height:633px;
	position:relative;
}
.all::after{
	content: "";
	height: 0;
	display: block;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
/*banner*/
.banner{
	margin:0 auto;
	width:1263px;
	min-height:552px;
	background:url(../img/bg1.jpg);
	background-size: 100%;
	position:absolute;
	left:0;
	top:80px;
}
.banner h1{
	font-size:32px;
	font-weight:600;
	color:#404040;
	line-height:32px;
	padding-top:128px;
	padding-left:33px;
	padding-bottom:63px;
}
.banner p{
	font-size:18px;
	color:#404040;
	padding-left:33px;
	line-height:38px;
}
.banner a{
	dispaly:block;
	width:250px;
	height:50px;
	color:#0acffe;
	font-size:16px;
	font-weight:600;
	text-align:center;
	line-height: 50px;
	background:#ffffff;
	border-radius:20px;
	margin-left:208px;
	margin-top:133px;
}
 .imgs{
	position:absolute;
	left:317px;
	bottom:214px;
}
.banner a img{
	padding-right:5px;
	vertical-align: middle;
}
#box{
	width:360px;
	height:460px;
	position:absolute;
	right:30px;
	top:80px;
	left:1263px;
	background:white;
	border-radius:15px;
}
#photo{
	background:#7dc9fe;
	width:360px;
	height:120px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}
#photo img{
	display:block;
	margin:0 auto;
	padding-top:46px;
}
input{
	width:252px;
	height:52px;
	border:1px solid #e4e4e4;
	border-radius:10px;
	outline: none;
	padding:0 15px;
	color:#e4e4e4;
	font-size:16px;
}
#btn{
	margin-left:54px;
	margin-top:40px;
}
#pas{
	margin-left:54px;
	margin-top:40px;
}
#box #aa{
	display:block;
	width:250px;
	height:50px;
	background:#0acffe;
	font-size:14px;
	color:white;
	text-align:center;
    margin-left:55px;
    margin-top:40px;
}
#box p{
	font-size:12px;
	color:#2fd6fe;
	padding-right:64px;
	padding-top:15px;
}
/*session*/
.session{
	width:1263px;
	height:664px;
	background:url(../img/bg2.jpg);
	backgorund-size:100%;
	margin:0 auto;
}
.session .one{
	display:block;
	padding-top:160px;
	margin: auto;
	padding-bottom:104px;
}
#ses{
	width:226px;
	height:333px;
	float:left;
	margin-right:20px;
}
.session .sesone{
	margin-left:20px;
}
#pic1{
	width:0px;
	height:0px;
	display:block;
	margin:0 auto;
	/*transform:scale(0);
	transform-origin: center;	*/
}
#pic1:hover{
	transform:rotateY(180deg);
	transition: all 1s;
}
#ses h4{
	font-size:18px;
	font-weight:600;
	color:#404040;
	line-height:18px;
	text-align:center;
	padding-top:48px;
	padding-bottom:46px;
}
#ses p{
	font-size:16px;
	color:#999999;
	line-height:30px;
}
/*root*/
.root{
	width:1263px;
	height:493px;
	padding-top: 158px;
	position:relative;
	margin:0 auto;
	background:url(../img/bg3.jpg);
	background-size:100%;
	overflow:hidden;
}
#title2{
	display:block;
	margin: 0 auto 102px;
}
.rootbot{
	width: 1263px;
	height: 355px;
	overflow: hidden;
	opacity:0;
	position:absolute;
	top:692px;
	left:15px;
}
#lc{
	display:block;
	margin:0 auto;
}
/*section*/
.section{
	width:1236px;
	height:663px;
	margin:0 auto;
	background:url(../img/bg4.png) no-repeat bottom;
	background-size:100%;
	background-color:#f9f9ff;
}
.secImg{
	display:block;
	padding-top:160px;
	margin: auto;
	margin-bottom:140px;
}
.zf{
	width:300px;
	height:150px;
	border:1px solid #ddf0fe;
	position:relative;
	float:left;
	border-top:none;
	border-right:none;
}
.zf a{
	position:absolute;
	left:30px;
	top:0;
}


#img2{
	transform-origin: bottom;
	display:none;
}
.zf:hover #img2{
	animation:go .5s 1 linear;
	display:block;
}
.zf:hover #img1{
	display:none;
}
@keyframes go{
	from{
		transform:rotateX(-90deg);
		}
	to{
		transform:rotateX(0deg);
		}
}

/*botto*/
.botto{
	width:1263px;
	height:663px;
	margin:0 auto;
	background:url(../img/bg5.jpg) no-repeat;
	background-size:1263px 663px;
	position:relative;	
	overflow:hidden;
}
.aboutimg{
	display:block;
	padding-left:30px;
	padding-top:138px;
}
.pp{
	font-size:12px;
	color:#404040;
	width:225px;
	height:114px;
	position:absolute;
	left:140px;
	top:293px;
}
.uls1{
	position:absolute;
	right:-520px;
	/*right:30px;*/
	top:120px;
}
.uls2{
	position:absolute;
	/*right:30px;*/
	right:-520px;
	top:300px;
}
.uls3{
	position:absolute;
	/*right:30px;*/
	right:-520px;
	top:480px;
}
#ulone p{
	position:absolute;
	width:340px;
	line-height:30px;
	font-size:14px;
	color:white;
	left:50px;
	top:38px;
}
#ulone p:nth-child(2){
	left:100px;
	top:38px;
}
/*last*/
.last{
	width:1263px;
	height:352px;
	margin:0 auto;
	background:url(../img/bg6.jpg) no-repeat;
	background-size:1263px 512px;
	padding-top: 160px;
	position:relative;
}
.lastImgOne{
	display:block;
	margin:0 auto;
}
#boxb{
	width:600px;
	height:300px;
	background:white;
	opacity:0;
	position:absolute;
	left:330px;
	top:185px;
}
#boxb .ewm{
	width:251px;
	height:251px;
	float:left;
	display:block;
	margin-left:24px;
	margin-top:24px;
}
#boxb .qqimg{
	float:left;
	width:24px;
	height:24px;
    margin-right:8px;
    margin-left:40px;
    vertical-align:middle;
}
#boxb  p{
	float:left;
	font-size:14px;
	font-weight:600;
	color:black;
}
#boxb .boxba{
	margin-top:54px;
}
#boxb .boxbP{
	font-size:28px;
	font-weight:600;
	color:#0acffe;
}
/*footer*/
.footer{
	width:1263px;
	height:150px;
	margin:0 auto;
	background:#666666;
}
.footerfirst{
	width:630px;
	height:130px;
	padding-top:20px;
}
.footerfirst p{
	font-size:12px;
	color:white;
	line-height:28px;
	margin-left:20px;	
}




